@model WebQuanLyNhanSu.PhanCong

@{
    ViewBag.Title = "Sửa Phân Công Dự Án";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("SuaPC", "DuAn", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(u=> u.MaPC)
    <div class="form-group">
        @Html.LabelFor(model => model.MaDA)
        @Html.TextBoxFor(model => model.MaDA, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaDA, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaNV)
        @Html.TextBoxFor(model => model.MaNV, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
}
