@model WebQuanLyNhanSu.Department

@{
    ViewBag.Title = "Sửa thông tin phòng ban";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("LuuSua", "BoPhan", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.DepartmentID)
                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NgayThanhLap, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.NgayThanhLap, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(model => model.NgayThanhLap, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary">Lưu</button>
                <a style="font-family: VNI-Times;" href="@Url.Action("PhongBan", "Home")" class="btn btn-danger">Quay lại</a>
            }
        </div>
    </div>
</div>
