@model WebQuanLyNhanSu.NgayLe

@{
    ViewBag.Title = "Thêm mới ngày lễ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Them", "NgayLe", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.TenNgayLe, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TenNgayLe, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NgayBatDau, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.NgayBatDau, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NgayKetThuc, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.NgayKetThuc, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HeSo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.HeSo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a href="@Url.Action("NgayLe", "Home")" class="btn btn-secondary">Quay lại</a>
            }
        </div>
    </div>
</div>
